
*{
    padding: 0px;
    margin: 0px;
}
.location h1{
    padding-top:15px;
    color: white;
    padding-left: -5px;
    font-size: 40px;
}
.location{
    display: flex;
}
.location img{
    width: 70px;
    height: 70px;
   /* margin-top:-17px; */

}
nav{
    display: flex; 
    background-color: #274C5B;  
}
.navLinks ul{
    color:  white;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    margin-left: 520px;
    margin-top: 20px;
    padding-left: 30px;
    
}
.navLinks ul li a {
   text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
nav .navLinks ul li  {
    margin: 0 10px;
    display: inline-block;
     
 }
 /* .bar-reverse{
    display: flex;
} */
 .mobile-nav ul{
    text-align:center;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #225c74;
    /* padding-top: 50px; */
  
  }
 /* .location a{
    display: none;
 } */
 .bg{
    background-image: url(../image/pexels-photo-280221.jpeg);
    width: 100%;
	height:100vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    margin-top: 0px;
}
.bg-his{
    background-image: url(../image/istockphoto-177096616-612x612.jpg);
    width: 100%;
	height:100vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    margin-top: 0px;
}
.bg-vis{
    background-image: url(../image/istockphoto-1292399669-612x612.jpg);
    width: 100%;
	height:100vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    margin-top: 0px;
}
.btn button a{
    color: white;
    text-decoration: none;
}
.btn button{
    background-color:#274C5B ;
    color: white;
    margin-left: 550px;
    margin-top: 20px;
    height: 70px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
.bg p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.bg h1{
    text-align: center;
    padding-top:20px;
    color: #274C5B;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.bg h3{
    text-align: center;
    /* padding-top:100px; */
    color: white;
    font-size: 30px;
    font-weight: bold;  
}
.bg-his .history-h1{
    padding-top: 200px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.bg-vis .history-h1{
    padding-top: 200px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.about{
    width: 60%;
    margin: 10px 0px 0px 250px;
    background-color: lightgrey;
}
.about p{
    text-align: center;
    text-align: justify;
    padding-top: 50px;
    color: #274C5B;
    font-size: 20px;
    padding: 30px;
}
.list{
color:#133c4d;
 text-align: center;
  padding: 30px 0 0 30px;
   text-align: justify;
}
.visit-area{
    display: flex;
    padding: 30px 0px 20px 130px;
}
.place{
    margin-left: 20px;
}
/* #church{
    width: 580px;
    height: 430px;
} */
.visit-area h2{
    color: #274C5B;
    text-align: center;
    margin-top: 20px;
}
/* .visit-area img{
    border-radius: 20px;
} */
.left{
    width: 600px;
    height: 500px;
}
.right{
    width: 400px;
    height: 500px;
}
.testimonial{
    display: flex;
}
.testimonial img{
    width: 140px;
    height: 130px;
    margin-left: 37px;
    border-radius: 70px;
}
.testimonial p{
    text-align: center;
    color: #274C5B;
}
/* .test-bg{
    height: 300px;
    width: 200px; 
    padding-left: 450px;
} */
.comment{
    height: 270px;
    width: 230px;
    background-color: rgb(240, 237, 237);
    margin: 10px 0px 60px 230px;
    padding: 10px 5px 10px 40px;
}
.comment1{
    height: 270px;
    width: 230px;
    background-color: rgb(240, 237, 237);
    margin: 10px 0px 60px 10px;
    padding: 10px 5px 10px 40px;
}
.comment2{
    height: 270px;
    width: 230px;
    background-color: rgb(240, 237, 237);
    margin: 10px 0px 60px 10px;
    padding: 10px 5px 10px 40px;
}
.testimonial h3{
    text-align: center;
    color: #274C5B;
    padding-top: 10px;
}
 .h1{
    color: #274C5B;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
footer{
    background-color: #274C5B;
    width: 100%;
    height: 40vh;
}
footer h3{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
footer p{
    color: white;
    line-height: 25px;
}
.footer-flex{
    display: flex;
    margin-left: 300px;
}
.condition{
    margin: 30px 0 0 0;
}
.contact{
    margin:30px 0 0 150px;
}
.copyrite p{
    text-align: center;
}
.footer-flex a{
    color: white;
    text-decoration: none;
}
.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    color: #225c74;
    display: none;
}


@media screen  and (min-width:270px) and (max-width:1000px){
    nav .fa{
        font-size: 25px;
        color:   white;
        display: block;
        margin-top: 15px;
        margin-left: 5px;
        text-align: right;
    }
    nav a{
        text-decoration: none;
    }
    .fa-bars:before, .fa-navicon:before {
        content: "\f0c9";
        color: white;
        display:block;
    }

    /* .location a {
        text-decoration: none;
    } */
    .nav{
        display: block;
        justify-content: space-between;
        color: white;
    }
    .mobile-nav{
        display: block;
    }
    .mobile-nav .location img{ 
    width: 200px;
  
    }
    .mobile-nav .location h1{
        font-size: 20px;
        color: rgb(4, 44, 31);
       
    }
    .mobile-nav.location{
        margin: 10px 20px 0 20px;
    }
    .mobile-nav .location h1{
        color: #225c74;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navLinks{
        display: none;
    }
   .location{
    display: flex;
    justify-content: space-between;
    /* margin: 0 10px 0 50px; */
    }
    .mobileLinks ul{
        display: block;
        /* color: red; */
        text-decoration: none;
    }
    .location img{
        width: 70%;
        margin-left: 160px;
      
    }
   
.mobile-nav{
    display: block;
}

.mobileLinks{
    display: none;
}
.mobile-nav ul{
    text-align:center;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #225c74;
    /* padding-top: 50px; */
  
  }
  .location h1{
    font-size: 35px;
}
   
    .visit-area h2{
        color: #274C5B;
        text-align: left;
        margin-top: 20px;
    }

    .visit-area{
        margin-left: 5px;
       flex-direction: column;
        padding: 30px 0px 20px 40px;
    }
    .place{
        margin-left: 0px;
    }
    .left{
        width: 300px;
        height: 300px;
    }
    .right{
        width: 300px;
        height:300px;
        padding-top: 30px;
    }
    .bg .history-h1{
        padding-top: 80px;
        color: white;
    }
    .bg{
        background-image: url(../image/pexels-photo-280221.jpeg);
        width: 100%;
        height:30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top: -50px; */
    }
    .bg-his{
        background-image: url(../image/istockphoto-177096616-612x612.jpg);
        width: 100%;
        height:30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top: 0px; */
    }
    .bg-vis{
        background-image: url(../image/istockphoto-1292399669-612x612.jpg);
        width: 100%;
        height:30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top: 0px; */
    }
    .bg h1{
        text-align: center;
        padding-top:20px;
        color: #274C5B;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }
    .bg-his .history-h1{
        padding-top: 90px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }
    .bg-vis .history-h1{
        padding-top: 90px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }
    .bg h3{
        text-align: center;
        /* padding-top:100px; */
        color: white;
        font-size: 25px;
        font-weight: bold;  
    }
    .list{
        color:#133c4d;
         text-align: center;
         font-size: 12px;
          padding: 10px 10 0px 30px;
           text-align: justify;
        }
    .about p{
        padding-top: 10px;
        color: #274C5B;
        font-size: 13px;
        padding: 30px;
    }
    .btn button{
        background-color:#274C5B ;
        color: white;
        margin-left: 100px;
        margin-top: 20px;
        height: 70px;
        width: 200px;
        border-radius: 10px;
        padding: 10px;
        border: none;
        font-weight: bold;
        font-size: 20px;
    }
    .about{
        width: 90%;
        margin: 10px 0px 0px 20px;
        background-color: lightgrey;
    }
    .testimonial{
        flex-direction: column;
    }
    .testimonial img{
        width: 140px;
        height: 130px;
        margin-left: 37px;
        border-radius: 55px;
    }
    .testimonial p{
        text-align: center;
        color: #274C5B;
    }
    .comment{
        height: 270px;
        width: 230px;
        background-color: rgb(240, 237, 237);
        margin: 10px 0px 30px 50px;
        padding: 10px 5px 10px 40px;
    }
    .comment1{
        height: 270px;
        width: 230px;
        background-color: rgb(240, 237, 237);
        margin: 10px 0px 30px 50px;
        padding: 10px 5px 10px 40px;
    }
    .comment2{
        height: 270px;
        width: 230px;
        background-color: rgb(240, 237, 237);
        margin: 10px 0px 30px 50px;
        padding: 10px 5px 10px 40px;
    }
    .testimonial h3{
        text-align: center;
        color: #274C5B;
        padding-top: 10px;
    }
    footer{
        background-color: #274C5B;
        width: 100%;
        height: 53vh;
        margin-top: 10px;
    }
    footer h3{
        color: white;
    }
    footer p{
        color: white;
        line-height: 25px;
    }
    .footer-flex{
       flex-direction: column;
        margin-left: 30px;
    }
    .condition{
        margin: 30px 0 0 5px;
    }
    .contact{
        margin:30px 0 0 5px;
    }
    .copyrite p{
        text-align: center;
    }
    /* .right h2{
        padding-top: 20px;
    } */
}