*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #225c74;
    padding:0 20px;
}
label a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 25px;
    padding: 10px;
}
.navLinks{
  flex: 1;
  text-align:right;
}
.navLinks ul li{
    list-style: none;
    padding: 8px 20px;
    display: inline-block;
}
.navLinks ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 20px;
}

.mobileLinks{
    flex: 1;
    text-align:center;
    width: 100%;
    height: 100vh;
  }
  .mobileLinks ul li{
      list-style: none;
      padding:50px;
      display:block;
      justify-content: space-around;
      
  }
  .mobileLinks ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 40px;
  }
nav .fa{
    display: none;
} 
 



 
@media(max-width:958px){
    nav .head a h1{
        font-size: 25px;
        color: white;
        display: block;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
    }
    nav{
        display: block;
    }
    .navLinks{
        display: none;
    }
.head{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.logo{
    display: flex;
}
.logo img{
    width: 50px;
    height: 50px;
    margin:-10px 0 0 0;
}
.logo h1{
    color: white;
}
}
